
<!DOCTYPE html>
<html>
    <head>
    </head>

    <body>
        <% require 'time'%>
        <% today = Date.today.strftime("%A, %B %d, %Y")%>
        <p><%="The date is " + today%></p>
    </body>
</html>